<br>
<div class ="row">
	<div class="col-md-4 mx-auto">
		<div class="card">
			<img src="images/producto1.jfif" alt="" class="card-img-top">
			<div class="card-body">
				<h2>
					00,00 $
				</h2>
				<p>
					Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
				</p>
			</div>
			<div class="card footer" align="center">
				<form action="/checkout" method="POST">
					<script
					    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					    data-key="pk_test_oR1O51hdGBsaKacUxH0L03A6"
					    data-amount="1000"
					    data-name="Plataforma de ventas"
					    data-description="descripción de producto"
					    data-image="images/producto-destino1.jpg"
					    data-locale="auto"
					    data-label="COMPRAR">
				  	</script>
				</form>
				<!--script src="https://checkout.stripe.com/checkout.js"></script>

				<button id="customButton" type="button" class="btn btn-outline-secondary btn-block">
					COMPRAR
					<i class="fas fa-american-sign-language-interpreting"></i>
				</button>
				<script>
				var handler = StripeCheckout.configure({
				  key: 'pk_test_oR1O51hdGBsaKacUxH0L03A6',
				  image: 'images/producto-destino1.jpg',
				  locale: 'auto',
				  token: function(token) {
				    // You can access the token ID with `token.id`.
				    // Get the token ID to your server-side code for use.
				  }
				});

				document.getElementById('customButton').addEventListener('click', function(e) {
				  // Open Checkout with further options:
				  handler.open({
				    name: 'Plataforma de ventas',
				    description: 'descripción del producto',
				    amount: 00
				  });
				  e.preventDefault();
				});

				// Close Checkout on page navigation:
				window.addEventListener('popstate', function() {
				  handler.close();
				});
				</script-->

			</div>
		</div>
	</div>
	<div class="col-md-4 mx-auto">
		<div class="card">
			<img src="images/producto2.jfif" alt="" class="card-img-top">
			<div class="card-body">
				<h2>
					00,00 $
				</h2>
				<p>
					Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
				</p>
			</div>
			<div class="card footer" align="center">
				<form action="/checkout" method="POST">
					<script
					    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					    data-key="pk_test_oR1O51hdGBsaKacUxH0L03A6"
					    data-amount="1000"
					    data-name="Plataforma de ventas"
					    data-description="descripción de producto"
					    data-image="images/producto-destino1.jpg"
					    data-locale="auto"
					    data-label="COMPRAR">
				  	</script>
				</form>
				<!--script src="https://checkout.stripe.com/checkout.js"></script>

				<button id="customButton" type="button" class="btn btn-outline-secondary btn-block">
					COMPRAR
					<i class="fas fa-american-sign-language-interpreting"></i>
				</button>
				<script>
				var handler = StripeCheckout.configure({
				  key: 'pk_test_oR1O51hdGBsaKacUxH0L03A6',
				  image: 'images/producto-destino1.jpg',
				  locale: 'auto',
				  token: function(token) {
				    // You can access the token ID with `token.id`.
				    // Get the token ID to your server-side code for use.
				  }
				});

				document.getElementById('customButton').addEventListener('click', function(e) {
				  // Open Checkout with further options:
				  handler.open({
				    name: 'Plataforma de ventas',
				    description: 'descripción del producto',
				    amount: 00
				  });
				  e.preventDefault();
				});

				// Close Checkout on page navigation:
				window.addEventListener('popstate', function() {
				  handler.close();
				});
				</script-->

			</div>
		</div>
	</div>
	<div class="col-md-4 mx-auto">
		<div class="card">
			<img src="images/producto3.jpg" alt="" class="card-img-top">
			<div class="card-body">
				<h2>
					00,00 $
				</h2>
				<p>
					Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
				</p>
			</div>
			<div class="card footer" align="center">
				<form action="/checkout" method="POST">
					<script
					    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					    data-key="pk_test_oR1O51hdGBsaKacUxH0L03A6"
					    data-amount="1000"
					    data-name="Plataforma de ventas"
					    data-description="descripción de producto"
					    data-image="images/producto-destino1.jpg"
					    data-locale="auto"
					    data-label="COMPRAR">
				  	</script>
				</form>
				<!--script src="https://checkout.stripe.com/checkout.js"></script>

				<button id="customButton" type="button" class="btn btn-outline-secondary btn-block">
					COMPRAR
					<i class="fas fa-american-sign-language-interpreting"></i>
				</button>
				<script>
				var handler = StripeCheckout.configure({
				  key: 'pk_test_oR1O51hdGBsaKacUxH0L03A6',
				  image: 'images/producto-destino1.jpg',
				  locale: 'auto',
				  token: function(token) {
				    // You can access the token ID with `token.id`.
				    // Get the token ID to your server-side code for use.
				  }
				});

				document.getElementById('customButton').addEventListener('click', function(e) {
				  // Open Checkout with further options:
				  handler.open({
				    name: 'Plataforma de ventas',
				    description: 'descripción del producto',
				    amount: 00
				  });
				  e.preventDefault();
				});

				// Close Checkout on page navigation:
				window.addEventListener('popstate', function() {
				  handler.close();
				});
				</script-->

			</div>
		</div>
	</div>
</div>