<br>
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Transacción exitosa!</strong> 
  Gracias por usar la plataforma 
  <i class="fas fa-american-sign-language-interpreting"></i>
</div>